@import './utils/vars.scss';
@import './utils/grid.scss';

.category_bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
}

.category_bar_item {
    background-color: $categoryBarBg;
    border: 1px solid $categoryBarBorderCol;
    border-radius: 0.5rem;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.category_bar_item_passive {
    @extend .category_bar_item;
    background-color: $bgcol1;
    &:hover {
        transform: translateY(5%);
    }
}

.category_bar_item_active {
    @extend .category_bar_item;
    transform: translateY(5%);
    border: 2px solid $borderCol;
    background-color: $bgcol2;
}